{% for category in categories %}

{% include 'BioBundle:Components:eventByCategoryBox.html.twig' with {'category': category} %}

{% else %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <p>Obecnie nie mamy żdnych wydarzeń, które moglibyśmy Tobie zaoferować</p>
        </div>


    </div>

{% endfor %}
