
{% for event in events %}

        <div id='event-grid' class="col-lg-3 col-md-4">
        <div style='
                    /* background: #efefef; */
                    border-radius: 47px;
                    border-style: dashed' class="panel panel-default">
            <div style='background:#424242;color:#fff;border-bottom: 2px solid {{ event.cssClass|default('gray') }};' class="panel-heading">
                    {% set articleName = event.name | truncate(25, false, "...") %}
                    {{ articleName }}
              </div>
               
               <div style='min-height:226px' class="panel-body event-info-box">
                  <div style='min-height:106px;' class='col-lg-12 col-md-12'>
                {% set articleText = event.details | truncate(200, false, "...") %}
                    {{ articleText }}
                  </div>
                  <div class='col-lg-12 col-md-12'>
                  </div>
              </div>
               <div class="panel-footer event-info-box">
                   <div class="row">
                   <div class="col-lg-7 col-md-7">
                       <b>   Kiedy: </b> <span> {{ event.time|date('d-m-Y')}} </span> <br>
                       <b>Gdzie:</b> {{ event.locaction }} <br>
                                     
                   </div>
                    <div class="col-lg-5 col-md-5">
                        <b>Koszt:</b> 0 PLN <br>
                        <a href='{{ path('event_show',{'slug':event.slug}) }}'>  
                            <b     style='font-size: 18px;'>Szczegóły</b> </a>
                   </div>
                   </div>
                                      

               </div>

        </div>
        </div>
        
        
 
        
       
    {% endfor %} 
