
<div id='event-grid' class="col-lg-6 col-md-6">
    <div style='
                    /* background: #efefef; */
                    border-radius: 47px;
                    border-style: dashed; min-height:324px;'
         class="panel panel-default">
        <div style='background:#424242;color:#fff;    border-bottom: 2px solid gray;' class="panel-heading">
            Wydarzenia z branży <span style="color: #F5913C;font-weight: 800;">{{ category.name }}</span> <a style="font-size:12px; color: #fff;" href="{{ path('category_homepage', {'categoryId': category.name}) }}">więcej...</a>
        </div>

        <div style='min-height:256px' class="panel-body event-info-box">
            <div style='min-height:126px;' class='col-lg-12 col-md-12'>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Data</th>

                    </tr>
                    </thead>
                    <tbody>

                {% for event in category.eventsA|slice(0,6) %}

                <tr>
                    <td>
                        {% set articleText = event.name | truncate(200, false, "...") %}

                        <a href="{{ path('event_show',{'slug':event.slug}) }}">{{ articleText  }} </a>
                    </td>
                    <td>
                        <span style="color:{{ event.cssClass|default('gray') }}"><i class="fa fa-clock-o"></i></span> {{ event.time|date('d/m/Y') }}


                    </td>
                </tr>
                    {% else %}

                        <p>Nie masz żadnych nadchodzących wydarzęń. Znajdź coś dla siebie</p>
                    {% endfor %}
                </tbody>
                </table>

            </div>
            <div class='col-lg-12 col-md-12'>

            </div>
        </div>
    </div>
</div>