<div class="alert alert-success flash-notice" style="font-size:17px;">
    {% for msg in notice %}
        {{ msg }}
    {% endfor %}
</div>
 
<script>
    $( document ).ready(function() {
          setTimeout(function() {
              $('.flash-notice').hide('slow', function(){
                  $(this).remove();
              }); }, 2000);
    });

</script>