<div class="row">
    <header class="intro-header" >
        <ul class="bxslider">

            <li>
                <img src="{{ asset('bundles/bio/images/bg2.png') }}" title="Funky roots" />
                <div class="caption1" style="position: absolute;
    top: 14px;
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
    height: 223px;
    /* left: 20px; */
    right: 18px;
    /* border: 1px solid #B7B7B7; */
    opacity: 0.9;
    border-bottom-left-radius: 30px;
    /* border-style: groove; */
    border-width: 1px;
    padding: 10px;
    color: #FFF;
">
                    <span>
                           {% include 'BioBundle:Components/HeaderBanerInfo:info1.html.twig' %}
                    </span>

                </div>
            </li>
            <li>
                <img src="{{ asset('bundles/bio/images/bg3.png') }}" title="Funky roots" />
                <div class="caption1" style="position: absolute;
    top: 14px;
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
    height: 223px;
    /* left: 20px; */
    right: 18px;
    /* border: 1px solid #B7B7B7; */
    opacity: 0.9;
    border-bottom-left-radius: 30px;
    /* border-style: groove; */
    border-width: 1px;
    padding: 10px;
    color: #FFF;
">
                    <span>
                        {% include 'BioBundle:Components/HeaderBanerInfo:info2.html.twig' %}
                    </span>

                </div>
            </li>
            <li>
                <img src="{{ asset('bundles/bio/images/bg4.png') }}" title="Funky roots" />
                <div class="caption1" style="position: absolute;
    top: 14px;
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
    height: 223px;
    /* left: 20px; */
    right: 18px;
    /* border: 1px solid #B7B7B7; */
    opacity: 0.9;
    border-bottom-left-radius: 30px;
    /* border-style: groove; */
    border-width: 1px;
    padding: 10px;
    color: #FFF;
">
                    <span>
                           {% include 'BioBundle:Components/HeaderBanerInfo:info1.html.twig' %}
                    </span>
                </div>
            </li>
            <li>
                <img src="{{ asset('bundles/bio/images/bg5.png') }}" title="Funky roots" />
                <div class="caption1" style="position: absolute;
    top: 14px;
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
    height: 223px;
    /* left: 20px; */
    right: 18px;
    /* border: 1px solid #B7B7B7; */
    opacity: 0.9;
    border-bottom-left-radius: 30px;
    /* border-style: groove; */
    border-width: 1px;
    padding: 10px;
    color: #FFF;
">
                     <span>
                           {% include 'BioBundle:Components/HeaderBanerInfo:info1.html.twig' %}
                    </span>

                </div>
            </li>
        </ul>
    </header>

</div>




