<header class="intro-header" style="
background-image: url('{{ asset('bundles/bio/images/bg3.png') }}');
background-repeat: no-repeat;
min-height: 130px; border-bottom-left-radius:40px
">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% if app.session.flashBag.has('notice') %}
                    {% include 'BioBundle:Components:flashNotice.html.twig' with {'notice' : app.session.flashbag.get('notice')} %}
                {% endif %}
                <div class="site-heading">
                        <span class="subheading">
                            {% set motto = app.user.userSettings.motto|default('') %}
                            {% if motto == '' %}
                                <span style="opacity:0.8; background: #000">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        <span>
                                            Mam tyle do zrobienia, a życie jest za krótkie, że muszę się śpieszyć.
                                        </span>

                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </span>
                                <span>
                                   --Thomas Alva Edison
                                </span>
                            {% else %}
                                <span style="opacity:0.8; background: #000">
                                    {{ motto }}
                                </span>
                            {% endif %}

                        </span>
                </div>
            </div>
            <!-- PANEL UZYTKOWNIKA -->
            <div class='col-lg-6'>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class='user-box' style='padding:20px'>
                        <div class='row' style='background: #424242; color: #fff;'>
                            <div class='col-lg-8'>
                               <span style="color:#FF9900"> Witaj: {{ app.user.username }} </span>  | <a href="{{ path('user_settings') }}" style="color:#fff">Edytuj</a>
                            </div>
                            <div class='col-lg-4'>
                                <a href="{{ path('logout') }}" style="color: #fff"> Wyloguj </a>
                            </div>
                        </div>

                        {{ render(controller('BioBundle:Event:_upcomingUserEvents')) }}


                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>