<div class='row' style="color:#514040; padding: 20px;">
    <span> <b>{% if events|length > 0 %} Masz {{ events|length }} wydarzeń, które na Ciebie czekają. Oto one... {% else %} Nie masz żadnych wydarzeń wymagających Twojej uwagii{% endif %} </b></span>
 
        <table class='table table-sm '>
            <tbody>
    {% for event in events|slice(0,4)%}
        <tr style="font-size:14px">
        <td style='padding:1px'>
              {% set articleText = event.name | truncate(20, false, "...") %}
             
            <a href="{{ path('event_show',{'slug':event.slug}) }}" style="color:#514040">{{ articleText  }} </a>
        </td>
        <td style='padding:1px'>
            <span style="color:{{ event.cssClass|default('gray') }}"><i class="fa fa-clock-o"></i></span> {{ event.time|date('d/m/Y') }}

            
        </td>
            <tr>
    {% else %}        
        <p>Nie masz żadnych nadchodzących wydarzęń? Znajdź coś dla siebie</p>
    {% endfor %}
        </tbody>
        </table>
   
    
   
   
</div>
    <div class='row'>
 
        <a style='background: #F5F5F5;
    padding: 6px;' href ='{{ path('myevents') }}'> Zobacz wszystkie </a>
 
    
    </div>
