{% for event in events %}
        
        {# Kolor belki #}
        {% if date(event.time) < date('+7days') %}
            {% set exclam = true %}
        {% else %}
            {% set exclam = false %}
        {% endif %}
        
        <div id='event-grid' class="col-lg-12 col-md-12">
        <div style='background:#FBFBFB; box-shadow:0px 2px 6px rgba(0, 0, 0, 0.21)' class="panel panel-default">
              <div style='background:#4C608C;color:#fff' class="panel-heading"> 
                  {{ event.name }}
              </div>
                 {% if exclam == true %} <span> <img style='position:absolute;' src="{{ asset('bundles/bio/images/exclam.png') }}" alt="exclam"></span> {% endif %}
              <div style='min-height:256px' class="panel-body event-info-box">
                  <div style='min-height:90px;' class='col-lg-12 col-md-12'>
                {% set articleText = event.details | truncate(200, false, "...") %}
                    {{ articleText }}
                  </div>
                  <div class='col-lg-12 col-md-12'>
                <img class='avatar' src='{{ asset('bundles/bio/images/avatar.jpg') }}' alt="event">
                  </div>
              </div>
               <div class="panel-footer event-info-box">
                   <div class="row">
                   <div class="col-lg-7 col-md-7">
                       <b>   Kiedy: </b> <span {% if exclam == true %} style="color:#F96565;" {% endif %}> {{ event.time|date('d-m-Y')}} </span> <br>
                       <b>Gdzie:</b> {{ event.locaction }} <br>
                                     
                   </div>
                    <div class="col-lg-5 col-md-5">
                        <b>Koszt:</b> 0 PLN <br>
                        <a href='{{ path('event_show',{'slug':event.slug}) }}'>  
                            <b     style='font-size: 18px;'>Szczegóły</b> </a>
                   </div>
                   </div>
                                      

               </div>

        </div>
        </div>
							
        
        
 
        
       
    {% endfor %} 