
    {% if userEvent.isNew is not defined %}
         <a href = '{{ path('unattends',{'slug':userEvent.slug}) }}' > Wypisz </a>
    {% else %}
        <a href = '{{ path('attends',{'slug':userEvent.slug}) }}' > Zapisz </a>
{% endif %}


