{% extends 'BioBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    

    
{% endblock %}

{% block content %}
<div class="containerReg" style="width:80%; margin:0 auto">
	<div class="well">
		<h2>Formularz rejestracyjny</h2>
		<p>  Poniższy formularz umożliwia  utworzenie konta  serwisie zaeventuj.pl. Użytkowicy zalogowani na swoje konta zyskują możliwość zapisawania się na wydarzenia oraz zarzadzanie swoimi wydarzeniami. Tworząc konto uzytkownik akceptuje regulamin serwisu <a href='{{ path('rules') }}' style="color:#000">Regulamin</a>  </p>
	</div>

	<div class="col-lg-12 well">
	<div class="row">
				<form action=' {{ path('register') }}' method='post' novalidate="novalidate">
					<div class="col-sm-12">{{ form_errors(form) }}
						<div class="row">
							<div class="col-sm-9 form-group">
                                                            
								{{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}
							</div>
                                                </div>
						<div class="row">
							<div class="col-sm-9 form-group">
								{{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
							</div>
                                                </div>
                                            <div class="row">
                                              {{ form_errors(form.plainPassword) }}
							<div class="col-sm-9 form-group">
								{{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
								{{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
							</div>
                                                </div>
                                         
                            
                                                 {{ form_rest(form) }}   
					<input type="submit" class="btn btn-primary pull-right" value="Zarejestruj" />
					</div>
				</form> 
				</div>
	</div>
	</div>

{% endblock %}

