<div class="row" style="min-height:130px;">

    <p style="padding:0 10px 10px 10px" > Znajdź dla siebie ciekawe wydarzenia przygotowane przez ludzi znających się na rzeczy i czerp z ich doświadczenia.
        </p>
 </div>
<div class="row" style="padding:5px">
    <div class="col-lg-7">
        Zerejestruj się i znajdź coś dla siebie
    </div>
    <div class="col-lg-5">
        <button type="button" class="btn btn-primary btn-xs">
            <a href="{{ path('register') }}" style="color:#fff"><i class="fa fa-user" aria-hidden="true"></i> Zarejestruj</a>
        </button>
    </div>
 </div>
