<div class="row" style="min-height:130px;">

       <p style="padding:0 10px 10px 10px" > Innowacyjność to inspiracja rozwoju, a ciężka praca to jego fundament
        </p>
 </div>
<div class="row">
    <div class="col-lg-7">
        Zerejestruj się i znajdź coś dla siebie
    </div>
    <div class="col-lg-5">
        <button type="button" class="btn btn-primary btn-xs">
            <a href="{{ path('register') }}" style="color:#fff"><i class="fa fa-user" aria-hidden="true"></i> Zarejestruj</a>
        </button>
    </div>
 </div>
