{% extends 'BioBundle::base.html.twig' %}

{# ======================================== BLOK HEADER ================================================= #}		
{% block head %}
	{{ parent() }} {# HEAD z base.html.twig #}

	{# ---------- STYLESHEETS --------- #}
    {% block stylesheets %}

        {% stylesheets 
			'bundles/bio/css/bootstrap.min.css' 
			'bundles/bio/css/clean-blog.css'
			'bundles/bio/css/jquery.bxslider.css'
			'bundles/bio/css/sweetalert.css'
			filter='cssrewrite'
		%}
			<link href='{{ asset_url }}' rel='stylesheet' type='text/css'>
        {% endstylesheets %}
    {% endblock %}
	
    {# ---------- JAVASCRIPTS --------- #}
    {% block jsHeader %}

        {% javascripts 'bundles/bio/js/plugins/jquery/jquery.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts 'bundles/bio/js/jquery.bxslider.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts 'bundles/bio/js/sweetalert.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

        <script>
            $(document).ready(function(){
                $('.bxslider').bxSlider({
                        auto: true,
                    pager: false,
                    speed: 500,
                    pause: 10000,


            });
            });
        </script>
    {% endblock %}
{% endblock %}

{# ======================================== BLOK BODY ================================================= #}		
{%block body %} 
{{ parent() }}  {# BODY z base.html.twig #}

    {# ---------- HEADER --------- #}
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-sm-3 col-md-3">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Szukaj" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="{{ path('about') }}">O nas</a></li>
                    <li><a href="{{ path('contact') }}">Kontakt</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('register') }}"><i class="fa fa-user" aria-hidden="true"></i> Zarejestruj</a></li>
                        <li><a href="{{ path('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Zaloguj</a></li>
                    {% else %}
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj</a></li>
                    {% endif %}

                </ul>
            </div>
        </nav>


    <!-- Main Content -->
    <div class="container">
        
        <div class="row">
            <div class="col-lg-2">
                <a class="navbar-brand" href="{{ path('bio_homepage') }}"><img class='logo' src='{{ asset('bundles/bio/images/logo.png') }}'  alt='eventowo.pl'> </a>
            </div>
            <div class="col-lg-4">
                <ul class="nav navbar-nav navbar" style="font-size:13px">
                    <li>
                        <a href="{{ path('bio_homepage') }}">Strona główna</a>

                    </li>
                    <li>
                        <a href="{{ path('bio_homepage') }}">Przeglądaj wydarzenia</a>
                    </li>
                </ul>
            </div>

        </div>

        {% if index is defined and not is_granted('IS_AUTHENTICATED_REMEMBERED')%}
            {% include 'BioBundle:Components:headerIndex.html.twig' %}
        {% else %}
            {% include 'BioBundle:Components:header.html.twig' %}
        {% endif %}


       
                {% block content %}
                    <p> Niestety nie mamy Ci nic do pokazania </p>
                {% endblock %}

    </div>


    </div>
    </div>
    <hr>

    <!-- Footer -->
    <div></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright">Copyright &copy; eventowo.pl 2016 | <a href='{{ path('about') }}' style="color:#fff">O nas</a> | <a href='{{ path('rules') }}' style="color:#fff">Regulamin</a> | <a href='{{ path('policy') }}' style="color:#fff">Polityka prywatności </a></p>
                </div>
            </div>
        </div>
    </footer>
    {% include 'FeedbackBundle:widget.html.twig' %}


    <!-- javascript -->

    {% block jsFooter %}
        <script>
            $( window ).ready( function() { 
                $('[data-toggle="tooltip"]').tooltip();
            });
            </script>


    {% endblock %}



{% endblock %}

