{% extends 'BioBundle::layout.html.twig' %}


{% block content %}
   
<div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="panel-title">Zaloguj się</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="{{ path('restore_pass')}}">Zapomniałeś hasła?</a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form action="{{ path('login') }}" id="loginform" class="form-horizontal"  method="post">
                                   {% if error %}
                                        <div style='color:red;'>{{ error.message|trans }}</div>
                                    {% endif %}        
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="_username" value="" placeholder="login lub e-mail">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="_password" placeholder="hasło">
                                    </div>
                                    

                          
                            <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <input id="login-remember" type="checkbox" name="_remember_me" value="1"> Zapamiętaj mnie
                                        </label>
                                      </div>
                                    </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <button class="btn btn-primary" type="submit">Zaloguj</button>
                                     

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Nie masz konta? 
                                        <a href=' {{ path('register') }}'>
                                            Zarejestruj się
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
     
    </div>
 {% endblock %}