{% extends "BioBundle::layout.html.twig" %}

{% block content %}
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

             <div class="post-preview">

                    <h2 class="post-title">
                        O nas
                    </h2>
                       
                 <p>    Serwis powstał w 2016 roku w odpowiedzi na brak podobnego rozwiązania rynku rodzimym. Ideą przyświecającą twórcom serwisu było ułatwienie poszukiwania ciekawych wydażeń, kursów itd., które rozsiane po różnych serwisach były wręcz nie możliwe do odnalezienia. Serwis umożliwia użytkownikom w łatwy sposób odnaleźć ciekawe wydarzenia, a ich twórcom  w łatwy sposób dotrzeć do odbiorców. </p>
                       
               

             </div>
        <hr>
        </div>
    </div>
    
{% endblock %}
