{% extends "BioBundle::layout.html.twig" %}

{% block content %}
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

             <div class="post-preview">

                    <h2 class="post-title">
                                  Zmiana hasła
                    </h2>

                 <form action=' {{ path('change_pass') }}' method='post' novalidate="novalidate">
                     <div class="col-sm-12">{{ form_errors(form) }}
                         <div class="row">
                             <div class="col-sm-9 form-group">{{ form_errors(form.newPassword) }}
                                 <div data-toggle="tooltip" data-placement="bottom" title="Wpisz nowe hasło. Pamiętaj, że dłuższe i bardziej skomplikowane hasło jest bardziej bezpieczne ">

                                     {{ form_row(form.newPassword.first, { 'attr': {'class': 'form-control'} }) }}

                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-sm-9 form-group">
                                 <div data-toggle="tooltip"  data-placement="bottom" title="Powtórz hasło wprowadzone powyżej">

                                     {{ form_row(form.newPassword.second, { 'attr': {'class': 'form-control'} }) }}                                 </div>
                             </div>
                         </div>


                         {{ form_rest(form) }}
                         <input type="submit" class="btn btn-primary pull-right" value="zapisz" />
                     </div>
                 </form>



             </div>
        <hr>
        </div>
    </div>
    
{% endblock %}
