{% extends "BioBundle::layout.html.twig" %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2 ">

  <form role="form" action="" method="post" >
    <div class="col-lg-6">
      <div class="form-group">
        <label for="InputName">Twoje imię</label>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Imię" required>
          </div>
      </div>
      <div class="form-group">
        <label for="InputEmail">Twój email</label>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email" required  >
          </div>
      </div>
      <div class="form-group">
        <label for="InputMessage">Wiadomość</label>
        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-share"></i></span>
          <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
          </div>
      </div>
      <div class="form-group">
        <label for="InputReal">Podaj wynik działania: 2 + 2 ?</label>
        <div class="input-group"><span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
          <input type="text" class="form-control" name="InputReal" id="InputReal" required>
          </div>
      </div>
      <input type="submit" name="submit" id="submit" value="Wyślij" class="btn btn-info pull-right">
    </div>
  </form>
  <hr class="featurette-divider hidden-lg">
  <div class="col-lg-5 col-md-push-1">
    <address>
		<h3>Adres korespondencyjny</h3>
      email: info@zaeventuj.pl<br>

    </address>
  </div>
</div>
	</div>
{% endblock %}