{% extends "BioBundle::layout.html.twig" %}

{% block content %}
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

             <div class="post-preview">

                    <h2 class="post-title">
                        Jak to działa
                    </h2>
					<h4 class="post-title">
                        Pierwsze kroki
                    </h4>
                       
                 <p>   1. Pod zakładką Eventy znajdziesz wszystkie eventy zamieszczone w serwisie. Możesz je swobodnie przeglądać. Klikając w napis Szczegóły zostaniesz przeniesiony na strone konkretnego wydarzenia. </p>
                 <p>  2. Na stronie wydarzenia znajdziesz wszystkie informację na temat interesującego cię wydarzenia m.in. lokalizację, datę, ewentualny koszt. </p>
				 <h4 class="post-title">
                        Możliwości dostępne po zalogowaniu
                    </h4>
				 <p> 1. W prawym menu wydarzenia znajdziesz informację o liczbie osób zapisanych na wydarzenie oraz sam będziesz mógł się na nie zapisać bądź wypisać. </p>
				 
				 <p> 2. W menu podręcznym użytkownika znajdującym się w prawej cześci banera znajdują się informację na temat Twoich nadchodzacych wydarzeń. W tym miejscu możesz również zarządzać swoim kontem oraz się wylogować. </p>
				 <p> W razie pytań lub wątpliwości prosimy o kontakt drogą e-mailowa pod adresem info@zaeventuj.pl </p>
				 <p> Życzymy wielu udanych wydażeń odnalezionych dzięki zaeventuj.pl </p>
					 
               

             </div>
        <hr>
        </div>
    </div>
    
{% endblock %}
