{% extends "BioBundle::layout.html.twig" %}


{% block title %}
    Strona główna
{% endblock %}


{% block content %}


    <div class="row">
        <div id='events' class="col-lg-12 col-md-12">

    {{ render(controller('BioBundle:Event:_eventByCategory')) }}

        </div>

    </div>
    <div class="row">
        <div class="col-lg-5 "> </div>
        <div class="col-lg-1 col-offset-6 centered" id='more'> </div>
    </div>
    <hr>
    </div>
    </div>
{% endblock %}
