{% extends "BioBundle::layout.html.twig" %}


{% block title %}
    Strona główna
{% endblock %}


{% block content %}
    <div class="row">
        <div id='events' class="col-lg-12 col-md-12">
     
  {# TU AJAX #}
  
		</div>
 
		<div class ='row'>
			<div  id='wait' class="row">
                <div  class="col-lg-6 col-md-6 col-xs-6"> </div>
                <div  class="col-lg-2 col-md-2 col-xs-5">
					<div>
						<img style='width:40px' src='{{ asset('bundles/bio/images/ajax-loader.gif') }}' alt='load'>
					</div>
					<span> Ładuję eventy </span>
				</div>
			</div>
		</div>
        </div>
					<div class="row">
				<div class="col-lg-5 "> </div>		
	<div class="col-lg-1 col-offset-6 centered" id='more'> </div>
  </div>
    <hr>
        </div>
    </div>
    <script> 





function addMoreElements() {

    $.ajax({
        type: "POST",
        url: "{{ path('get_event_ajax') }}", 
        data: { 'type': 1 , 'page': page, 'categoryId': '{{ categoryId }}' },
        success: function(data) {
            console.log(data.template.length);
            if (data.template.length > 0) {
              
                $('#wait').hide('slow');
                $('#more-button').remove();
                $('#events').append(data.template);
                $('div #event-grid').hide().fadeIn(200);
                if (data.lastpage === false) {
                    $('#more').append('<button id="more-button" type="button" onClick="addMoreElements()" class="btn btn-default">Wczytaj więcej</button>');
                }
                page = page + 1;
        }
    }
    });
    }

    $(document).ready(function() {

        page = 0;

        addMoreElements();
    });


       </script>
{% endblock %}
