{% extends "BioBundle::layout.html.twig" %}

{% block jsHeader %}
    {{ parent() }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({
            selector: 'textarea',
            height: 500,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: [
                '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    {% stylesheets
    'bundles/bio/css/bootstrap-image-gallery.min.css'
    filter='cssrewrite'
    %}
    <link href='{{ asset_url }}' rel='stylesheet' type='text/css'>
    {% endstylesheets %}
{% endblock %}

{# ------------------------- BLOK MAIN -------------------------- #}
{% block content %}

    <form action=' {{  path('event_new') }}' method='post' novalidate="novalidate">
        <div class="col-sm-12">{{ form_errors(form) }}
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 form-group">{{ form_errors(form.name) }}
                    <div data-toggle="tooltip" data-placement="bottom" title="Wpisz nowe hasło. Pamiętaj, że dłuższe i bardziej skomplikowane hasło jest bardziej bezpieczne ">

                        {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 form-group">
                    <div data-toggle="tooltip"  data-placement="bottom" title="Powtórz hasło wprowadzone powyżej">

                        {{ form_row(form.details, { 'attr': {'class': 'form-control'} }) }}                                 </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 form-group">
                    <div data-toggle="tooltip"  data-placement="bottom" title="Powtórz hasło wprowadzone powyżej">

                        {{ form_row(form.time) }}                                 </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 form-group">
                    <div data-toggle="tooltip"  data-placement="bottom" title="Powtórz hasło wprowadzone powyżej">

                        {{ form_row(form.locaction, { 'attr': {'class': 'form-control'} }) }}                                 </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 form-group">
                    <div data-toggle="tooltip"  data-placement="bottom" title="Powtórz hasło wprowadzone powyżej">

                        {{ form_row(form.categoryA, { 'attr': {'class': 'form-control'} }) }}                                 </div>
                </div>
            </div>


            {{ form_rest(form) }}
            <input type="submit" class="btn btn-primary pull-right" value="zapisz" />
        </div>
    </form>

    {% block jsFooter %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

        {% javascripts 'bundles/bio/js/bootstrap-image-gallery.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}

{% endblock %}

