{% extends "BioBundle::layout.html.twig" %}

{% block content %}
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

             <div class="post-preview">

                    <h2 class="post-title">
                        Odzyskiwanie hasła
                    </h2>
                
                 <p> Nie pamiętasz hasła do swojego konta? Nie szkodzi... Wpisz poniżej adres e-mail, który wprowadziłeś podczas zakładania konta.</p>
                 <form action='{{ path('restore_pass') }}' method='post'>
                     
                     <div class="col-sm-12">{{ form_errors(form) }}
						<div class="row">
							<div class="col-sm-9 form-group">
                                                            <div data-toggle="tooltip" data-placement="bottom" title="Wpisz adres email powiązany z Twoim kontem">
   
								{{ form_row(form.restorepass, { 'attr': {'class': 'form-control'} }) }}
							
                                                            </div>
                                                        </div>
                                                </div>
                    {{ form_rest(form) }}
                     <input type="submit" class="btn btn-primary pull-right" value="Wyślij" />
                 </form>

             </div>
        <hr>
        </div>
    </div>
    
{% endblock %}