{% extends "BioBundle::layout.html.twig" %}

{% block content %}
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

             <div class="post-preview">

                 <h2 class="post-title">
					Regulamin obowiązujący w serwisie zaeventuj.pl
				</h2>
				 <h4 class="post-title">
					I. Postanowienia ogólne
				</h4>
				 
				 <p> 1. Serwis zaeventuj.pl (dalej Serwis) przeznaczony jest do prezentacji wydarzeń dodawanych przez Użytkowników serwisu. <br>
                2. Serwis nie bierze odpowiedzialności za treści umieszczane przez użytkowników. <br>
                 3. Zabrania się zamieszczania w serwisie wydażeń o treści o charakterze bezprawnym.</p>
    
				 
				<h4 class="post-title">
					II. Użytkowanie Serwisu
				</h4>
				
				 <p> 1. Dodawanie  wydarzeń serwisie jest możliwe jedynie dla zarejestrowanych użytkowników. <br>
				 2. Użytkownik serwisu zobowiązuje się podawać zgodne z prawdą dane wydarzeń. </p>
			
			 
                  <h4 class="post-title">
					III. Postanowienia końcowe
				</h4> 
				 <p> 1. Użytkownik serwisu zobowiązuje się przestrzegać niniejszego regulaminu. <br>
				2. Serwis nie ponosi żadnej odpowiedzialności za awarie systemu informatycznego i nie zwraca w związku z tym żadnych poniesionych przez Użytkowników kosztów. <br>
				3. Serwis zastrzega sobie prawo do zmiany niniejszego regulaminu.  </p>
				

				
               

             </div>
        <hr>
        </div>
    </div>
    
{% endblock %}