{% extends "BioBundle::layout.html.twig" %}


{% block title %}
    Strona główna
{% endblock %}

{% block content %}
    <div class="row">
        <div id='events' class="col-lg-8 col-md-8">
     
  {# TU AJAX #}
  
		</div>
   <div class="col-lg-4 col-md-4">
								
								
								
								<ul class="list-group">
    <a href='{{ path('report') }}'><li class="list-group-item">Pobierz raport</li></a>

</ul>
							
							
							
							
							</div>
 
		<div class ='row'>
			<div  id='wait' class="row">
				<div  class="col-lg-offset-5 col-lg-2 col-md-offset-5 col-md-2">
					<div>
						<img style='width:40px' src='{{ asset('bundles/bio/images/loading.gif') }}' alt='load'> 
					</div>
					<span> Ładuje eventy </span>
				</div>
			</div>
		</div>
                                       
        </div>
					<div class="row">
				<div class="col-lg-4 "> </div>		
	<div class="col-lg-1 col-offset-6 centered" id='more'> </div>
  </div>
    <hr>
        </div>
    </div>
    <script> 

    $.ajax({
        type: "POST",
        url: "{{ path('get_event_ajax') }}",
        data: { 'type': 2 , 'page': 0},

	
        success: function(data) {
            console.log(data);
            if (data.template.length > 0) {
				$('#wait').hide('slow');
				$('#more-button').remove();
                $('#events').append(data.template);
				$('div #event-grid').hide().fadeIn(100);	
            } 
        }
    });
	   
       </script>
{% endblock %}
