{% extends "BioBundle::layout.html.twig" %}

{% block jsHeader %}
 {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
        {% stylesheets 
			'bundles/bio/css/bootstrap-image-gallery.min.css' 
			filter='cssrewrite' 
		%}
			<link href='{{ asset_url }}' rel='stylesheet' type='text/css'>
        {% endstylesheets %}
    {% endblock %}

{# ------------------------- BLOK MAIN -------------------------- #}

{% block content %}
           <div id="aboutBox" class="col-lg-3 aboutBox" style="padding:10px">
              <div> 
                  <b>Kiedy:</b> {{ event.time|date('d-m-Y') }} <br>
                  <b>Godzina:</b>  {{ event.time|date('H:i') }} <br>
                  <b>Gdzie:</b> {{ event.locaction }} <br>
                  <b>Koszt:</b> {{ event.id }} <br>
                  
                  
                  <hr>

                  <b>Zapisanych:</b>
                        {% if event.users|length > 0 %}
                         {{ event.users|length }}
                        {% else %}
                            Jeszcze nit się nie zapisał
                        {% endif %}
                  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                      <li>
                          {{ render(controller('BioBundle:UserEvents:_userAttendatns',{'id':event.id})) }}
                      </li>
                  {% else %}
                      <li>
                          Zaloguj się aby się zapisać
                      </li>
                  {% endif %}
              
              </div>
                    <hr>
            <p class="post-meta">
                
                Organizator: <a href="#"> {{ event.ownEventsA.username }} </a> <br>
                Dodano: {{ event.createdAt|date('d-m-Y') }} <br>
                Modyfikowano: {{ event.updatedAt|date('d-m-Y') }}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and event.ownEventsA == app.user %}
                    <a href="{{ path('event_edit',{'slug':event.slug}) }}"><button type="button" class="btn btn-default btn-sm">edytuj</button></a>
                {%  endif %}

            </p>

        </div>
        <div class=" col-lg-9">
         <div class="post-preview">

             <div class="panel panel-default">
              <div class="panel-heading" style='background: #424242; color:#fff'>
                  <h3 class="panel-title"><b>{{ event.name }}</b></h3>
               
              </div>
              <div class="panel-body">
                {{ event.details|raw }}
              </div>

              <div class="panel-footer">  <div class='row'>


					  <div class='col-lg-5'>

                          <iframe
                                  width="400"
                                  height="250"
                                  frameborder="0" style="border:0"
                                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0GRRGiLZW1n_naVK1KziVrjIXFfTHYGU
    &q={{ event.locaction }}" allowfullscreen>
                          </iframe>
					  </div>
				 </div>
            </div>
			 </div>
            </div>
		 </div>
        </div>
               
  
    </div>
    
   
    
    <script>
                $(document).ready(function () {
                
                var el = $('#aboutBox');
                var originalelpos = el.offset().top; // take it where it originally is on the page

                //run on scroll
                    $(window).scroll(function(){
                       if(window.innerWidth > 800) {
                        var height = 0;
                           console.log('height ' + $('.post-preview').height());
                           console.log('scroll ' + $(window).scrollTop());
                        if( $(window).scrollTop() > $('.site-heading').height() ) {
                            if($(window).scrollTop() < $('.post-preview').height()) {
                                height = $(window).scrollTop()-$('#aboutBox').height();
                                console.log('1');
                                console.log(height);
                            } else {


                            }
                        }

						if(height < 0) {
							height=0;
						}
                        $("#aboutBox").stop().animate({"marginTop": (height) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );
                   } });
                
                
                });

                </script>
                
{% block jsFooter %}   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    
    {% javascripts 'bundles/bio/js/bootstrap-image-gallery.min.js' %}
            <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
                    
{% endblock %}
