{% extends "BioBundle::layout.html.twig" %}

{% block content %}
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

             <div class="post-preview">

                    <h2 class="post-title">
                        Ustawienia
                    </h2>
                   
                <form action=' {{ path('user_settings') }}' method='post' novalidate="novalidate">
					<div class="col-sm-12">{{ form_errors(form) }}
						<div class="row">
							<div class="col-sm-9 form-group">
                                                            <div data-toggle="tooltip" data-placement="bottom" title="Wpisz motto, które bedzie wyswietlane na banerze serwisu i bedzie Cię motywować do ciągłego rozwoju!">
   
								{{ form_row(form.userSettings.motto, { 'attr': {'class': 'form-control'} }) }}
							
                                                            </div>
                                                        </div>
                                                </div>
						<div class="row">
							<div class="col-sm-9 form-group">
                                                            <div data-toggle="tooltip"  data-placement="bottom" title="Liczba wydarzeń, które będą wyswietlane na głównej stronie">

								{{ form_row(form.userSettings.post_in_page, { 'attr': {'class': 'form-control', 'min' : 2} }) }}
                                                            </div>
                                                        </div>
                                                </div>
                                 
 <div class="col-lg-1" style='width:0px'>
     <div class='row'>
         <div style='background: red;
                        width: 7px;
                        height: 60px;'>                 
         </div>
     </div>
      <div class='row'>
         <div style='background: orange; 
                        width: 7px;
                        height: 60px;'>
        </div> 
     </div>
      <div class='row'>
         <div style='background: green; 
                        width: 7px;
                        height: 60px;'>
         </div> 
      </div> 
 </div>
                                        
                                        <div class="col-lg-4 form-group">
                                        
    <div data-toggle="tooltip" data-placement="right" title="Wybierz kiedy wydarzenia maja być oznaczane czerwonym kolorem">    
        {{ form_row(form.userSettings.eventAlerts.1, { 'attr': {'class': 'form-control'} }) }} 
    </div>
    <div data-toggle="tooltip" data-placement="right" title="Wybierz kiedy wydarzenia maja być oznaczane pomarańczowym kolorem">    
        {{ form_row(form.userSettings.eventAlerts.2, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div data-toggle="tooltip" data-placement="right" title="Wybierz kiedy wydarzenia maja być oznaczane zielonym kolorem">    
        {{ form_row(form.userSettings.eventAlerts.3, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
                         
                                                 {{ form_rest(form) }}   
					<input type="submit" class="btn btn-primary pull-right" value="Zapisz" />					
					</div>
				</form>  
 </div>
        <hr>
        </div>
    </div>
    
{% endblock %}