{% extends "BioBundle::layout.html.twig" %}

{% block content %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <script>

            $( document).ready( function() {
                swal({   title: "Uwaga!",   text: "Poprawnie wylogowano.",   timer: 1500,   showConfirmButton: false });
            });
        </script>
    {% endfor %}

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

             <div class="post-preview">

                    <h2 class="post-title">
                        Gratulacje!!
                    </h2>
                       
                 <p>    Pomoyslnie utworzylismy dla Ciebie konto. Dowiedz się wiecej o nowych możliwościach, które własnie zdobyłeś. </p>
                       
               

             </div>
        <hr>
        </div>
    </div>
    
{% endblock %}